.navbar {
    height: 100px;
    background-color:cornflowerblue;
    
}
a{
    line-height: 50px;
    font-size: 25px;
    padding: 25px;
}
.main{
    background-color: darkblue;
    /* display: flex; */
}
.left{
    background-color: red;
    width: 20%;
    height: 800px;
    margin: 10px;
    float: left;
    /* clear: both; */
}
.center{
    width: 55%;
    background-color: blue;
    height: 800px;
    margin: 10px;
float: right;
}
.right{
    width: 20%;
    background-color: aqua;
    height: 800px;
    margin: 10px;
    float: left;
}

@media screen and (max: width 900px) {.navbar{
    height: auto;
}
a {
    color: red;
    display: block;
    line-height: 40px;
    padding: 15px;
}
.main{
    display: flex;
    flex-wrap: wrap;
}
.left{
width: 100%;
height: 300px;
}


.card{
    width: 45%;
 }
 .center{
    width: ;
 }


}


.cardparent {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card {
    width: 23%;
    height: 400px;
    background-color: darkseagreen;
    margin: 5px;
}
@media screen and (max-width:500px) {
.card{
    width: 80%;
}    
}
@media print {
    button {
        display: none;
    }
h1 {
    display: block;
}
nav{
    display: none;
}

}