.second {
    width: 200px;
    height: 100px;
    margin: 10px;
    background-color: brown;
    transition-property: width;
    transition-duration: 4s; 
     transition-delay: 3s; 
     transition-timing-function:;
    }
    /* .second:hover {
        width: 600px;
        height: 200px;
        background-color: blue;
} */

.second:hover {
    width: 800px;
}
.first:hover:



